
/0726_results
/0728_results
/0728_results2
/0728_results3
/101_knn_comparison.py
/101_model_comparison.py
/102_two-staged_model_comparison.py
/103_two-staged_result_plotting.py
/104_result_plotting.py
/1차실험.xlsx
/CASC_CONV_MIXER_AVGPOOL_result_0727.csv
/CONV_MIXER_AVGPOOL_result_0727.csv
/CONV_MIXER_AVGPOOL_result_0727.xlsx
/CONV_MIXER_result_0727.csv
/CONV_MIXER_result_0727.xlsx
/CONV_MIXER_V2_result_0727.csv
/CONV_MIXER_V2_result_0727.xlsx
/Data
/EXP1
/fixing_normalization.csv
/fixing_normalization.xlsx
/FRMLP_all.zip
/FRMLP_all_figs.zip
/images11.zip
/input_table.csv
/KNN_result_0803.csv
/KNN_result_0803.xlsx
/KNN_result_0812.csv
/KNN_result_0812.xlsx
/logs
/MV_result_0714.csv
/MV_result_0715.csv
/MV_result_0715.xlsx
/nmae.csv
/nmae.xlsx
/test
/two_stage_result_0719.csv
/two_stage_result_0719.xlsx
/weighted_MV_result_0718.csv
/weighted_MV_result_0718.xlsx
/without_normalization.csv
/without_normalization.xlsx
/wrong_normalization.csv
/wrong_normalization.xlsx
/__pycache__
!Model/
Model/*
!/Model/common_model.py
!/Model/common_model.py
!/Model/embed.py
!/Model/MLP_mixer.py
!Data/
Data/*
!/Data/input_sample.npy
!/Data/output_sample.npy
!/Data/saved_model.ckpt
!/Data/all_scalers.pkl
